.text {
    font-size: 48px;
    font-weight: 200;
    line-height: 71px;
    letter-spacing: 0;
    text-align: center;

    div {
        display: inline-block;
        width: 328px;
        text-align: left;
    }
    max-width: 100vw;
    overflow: hidden;
}